@import url('https://fonts.googleapis.com/css2?family=Share:wght@400;700&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pricing-creator-form .ant-descriptions-header {
	margin-bottom: 5px !important;
}

.pricing-creator-form .ant-descriptions {
	margin-bottom: 20px !important;
}

td {
	vertical-align: text-top;
}

.print-list {
	padding: 0;
	display: flex;
	list-style: none;
}

.print-list li :nth-of-type(even) article {
	background-color: #f8f7f9;
}

.print-list article {
	display: flex;
	gap: 10px 20px;
	padding: 2px 3px;
}

.print-list article span:nth-child(1) {
	min-width: 70px;
}

.print-list article span:nth-child(2) {
	min-width: 30px;
}

.print-list article span:nth-child(3) {
	flex: 1;
}
